.model {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(231, 203, 203);
}

.model-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid red;
  width: 80%;
}
